* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$small: 576px;
$medium: 768px;
$large: 992px;

@media (min-width: $small) {
    
}

@media (min-width: $medium) {
    
}

@media (min-width: $large) {
    
}